<div class="flex flex-col justify-center items-center gap-5 p-6">
  <h1 class="font-bold text-3xl text-center w-52 sm:text-4xl sm:w-72">
    Train more with Gym App
  </h1>

  <h6 class="text-sm sm:text-base text-center max-w-2xl">
    Smart Workout Tracking for Serious Gains. Join 100k+ Users, Tracking Over 20M Lifts with Gym App.
  </h6>

  <button class="py-2 px-6 bg-blue-700 rounded-xl text-slate-50 font-bold hover:bg-blue-800 transition">
    <span>Get Started</span>
  </button>
</div>
